.container_loading {
    display: flex;
    width: 150px;
    height: 150px;
    border: black dotted 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    animation: loading  5s infinite linear;


}


@keyframes loading {
    from{
        transform: rotate(0grad);
    }
    to{
        transform: rotate(360grad);


    }
}