.random-block {
    display: flex;
    height: 25vh;
    background-color: #333 !important;
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
    margin-top: 10px;
}
.random-block_img {


    width: 20%;
    height: 80%;
    margin: 20px;

}
.random-block_img img {
    width: 100%;
    height: 100%;
}
.random-block_info {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;

}
.random-block_info h3 {
    color: #6fd1e9;
}
.container-list {

    width: 100%;
    height: 90%;
}
.container-list ul {

    list-style: none;
}
.container-list ul li span  {

    display: flex;

}
.container-list ul li span .info {

    color: #4875e7;

}

.container-list ul li span h5 {
    padding-left: 20px;
    color: #6fd1e9;
}