.random-block {
    display: flex;
    height: 25vh;
    background-color: #333 !important;
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
    margin-top: 10px;
}
.random-block_img {

    background-color: aliceblue;
    width: 20%;
    height: 80%;
    margin: 20px;

}

.random-block_info {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    margin: 20px;
    width: 80%;

}
.container-list {
    display: flex;

    background-color: aquamarine;
    margin-left: 30px;
}
.container-list ul {
    list-style: none;
}